%h1 Listing photos

%table{:width => "100%"}
  %thead
    %tr
      %th Title
      %th Image
      %th
      %th
      %th
      %th

  %tbody
    - @photos.each do |photo|
      %tr
        %td= photo.title
        %td= URI.decode(photo.image.to_s)
        %td{:style => "padding:5px;"}= image_tag photo.image_url(:thumb) if photo.image?
        %td= link_to 'Show', photo
        %td= link_to 'Edit', edit_photo_path(photo)
        %td= link_to 'Destroy', photo, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Photo', new_photo_path
